<form action="/user/register" method="post">
    <div>
        <label for="username">Username</label>
        <br>
        <input type="text" name="username" id="username" value="{{dumpIfExist data.username}}">
        <p>{{dumpIfExist errors.username.msg}}</p>
    </div>
    <div>
        <label for="email">Email</label>
        <br>
        <input type="email" name="email" id="email" value="{{dumpIfExist data.email}}">
        <p>{{dumpIfExist errors.email.msg}}</p>
    </div>
    <div>
        <label for="password">Password</label>
        <br>
        <input type="password" name="password" id="password" value="{{dumpIfExist data.password}}">
        <p>{{dumpIfExist errors.password.msg}}</p>
    </div>
    <button type="submit">Daftar</button>
</form>